<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autores</title>
</head>
<body>

  <h1>Autores — Biblioteca Virtual</h1>

  <table border="1">
    <!-- table = contêiner da tabela inteira.
         border="1" adiciona bordas visíveis para visualizarmos a estrutura.
         Nas próximas aulas usaremos Bootstrap para estilizar com elegância. -->

    <thead>
      <!-- thead = agrupa a linha de cabeçalho: visualmente separada do corpo -->
      <tr>
        <!-- tr = "table row" = uma linha da tabela (horizontal) -->
        <th>Nome do Livro</th>
        <!-- th = "table header" = célula de cabeçalho: negrito e centralizado -->
        <th>Data de publicação</th>
        <th>Preço</th>
        <th>Genero</th>
        <th>Autor</th>
      </tr>
    </thead>

    <tbody>
      <!-- tbody = agrupa todas as linhas de dados da tabela -->
      <tr>
        <td>Estudo de caso</td>
        <!-- td = "table data" = célula de dado comum -->
        <td>2015</td>
        <td>45,90</td>
        <th>Suspense</th>
        <th>Fernanda</th>
      </tr>
      <tr>
        <td>Programação para Internet</td>
        <td>2023</td>
        <td>57,00</td>
        <th>Educativo</th>
        <th>Luciana</th>
      </tr>
      <tr>
        <td>A Internet</td>
        <td>1999</td>
        <td>39,45</td>
        <th>Ficção</th>
        <th>Carlos</th>
      </tr>
      <tr>
        <td>Animais virtuais</td>
        <td>2023</td>
        <td>57,00</td>
        <th>Ação</th>
        <th>Fernanda</th>
      </tr>
    </tbody>

  </table>

</body>
</html>