{% extends 'base.html' %}

{% block titulo %}Início — Livraria Digital{% endblock %}

{% block conteudo %}
<!-- float converte letra pra numero -->
<!-- Hero / Jumbotron -->

<body>
  
</body>
<div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-5 fw-bold">Livraria Digital</h1>
    <p class="lead">
       Livraria Digital com seus livros preferidos
    </p>
    <a href="{{ url_for('sobre_equipe') }}" class="btn btn-primary btn-lg">sobre a equipe</a>
</div>

<!-- Tabela de classificação da OMS -->
<h2 class="mb-3">Generos</h2>
<div class="table-responsive mb-4">
    <table class="table table-bordered table-hover">
        <thead class="table-primary">
            <tr>
                <th>Ação</th>
                <th>Aventura</th>
                <th>Romance</th>
                <th>Ficção</th>
                <th>IMC</th>
            </tr>
            </thead>
            </table>
        </div>

<!-- Cards informativos -->


    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">👨‍⚕️ Consulte um profissional</h5>
                <p class="card-text">
                    O IMC é apenas um indicador inicial. Para uma avaliação completa do seu estado de saúde,
                    consulte um médico ou nutricionista. Apenas um profissional habilitado pode recomendar
                    mudanças na dieta, exercícios e tratamentos adequados para o seu perfil.
                </p>
            </div>
        </div>
    </div>

{% endblock %}
