{% extends 'base.html' %}

{% block titulo %}Novo Cálculo — Sistema IMC{% endblock %}

{% block conteudo %}

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categoria, mensagem in messages %}
            <div class="alert alert-{{ categoria }} alert-dismissible fade show" role="alert">
                {{ mensagem }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <strong>Novo cadastro de Livro</strong>
            </div>
            <div class="card-body">
                {% if dados %}

                <form action="{{ url_for('cadastrar_funcao')}}" method="post">    

                {% else %}

                <form action="{{ url_for('funcoes') }}" method="post">

                {% endif %}

                    <div class="col-md-8">
                    <label for="nome_livro" class="form-label">Titulo do Livro</label>
                    <input type="text" id="nome_livro" name="nome_livro" class="form-control" 
                           placeholder="Ex: O nome do vento, Senhor dos anéis..." required>
                </div>

                 <div class="col-md-4">
                    <label for="genero" class="form-label">Genero</label>
                    <select id="genero" name="genero" class="form-select" required>
                        <option value="terror" selected>Terror</option>
                        <option value="ficcao">Ficção</option>
                        <option value="romance">Romance</option>
                        <option value="Aventura">Aventura</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="ano" class="form-label">Ano de lançamento</label>
                    <input type="number" id="ano" name="ano" class="form-control" 
                            placeholder="Ex: 2024" min="1000" max="2027" required>
                </div>

                <div class="col-md-8">
                    <label for="autor" class="form-label">Autor</label>
                    <input type="text" id="autor" name="autor" class="form-control" 
                           placeholder="Ex: Machado de Assis, Clarice Lispector..." required>
                </div>

                <div class="col-md-2">
                    <label for="paginas" class="form-label">Páginas</label>
                    <input type="number" id="paginas" name="paginas" class="form-control" 
                            placeholder="Ex: 256" min="10" max="2027" required>
                </div>

                <div class="col-md-12">
                    <label for="sinopse" class="form-label">Sinopse</label>
                    <input type="text" id="sinopse" name="sinopse" class="form-control" 
                           placeholder="Ex:  Um defunto autor decide narrar sua vida após a morte, relembrando..." required>
                </div>

                <div class="col-12 mt-4">
                    <label class="form-label d-block mb-3 fw-bold">Permissões</label>
                    <div class="d-flex flex-wrap gap-2">
                        
                        <input name="cadastrar" type="checkbox" class="btn-check" id="perm_cadastrar" name="permissoes" value="cadastrar" autocomplete="off">
                        <label class="btn btn-outline-amber px-4" for="perm_cadastrar">
                            <i class="bi bi-book me-2"></i>cadastrar
                        </label>

                        <input name="editar" type="checkbox" class="btn-check" id="perm_editar" name="permissoes" value="editar" autocomplete="off">
                        <label class="btn btn-outline-amber px-4" for="perm_editar">
                            <i class="bi bi-person-badge me-2"></i>Editar
                        </label>

                        <input name="excluir" type="checkbox" class="btn-check" id="perm_excluir" name="permissoes" value="excluir" autocomplete="off">
                        <label class="btn btn-outline-amber px-4" for="perm_excluir">
                            <i class="bi bi-person-badge me-2"></i>Excluir
                        </label>

                        <input name="listar" type="checkbox" class="btn-check" id="perm_listar" name="permissoes" value="listar" autocomplete="off">
                        <label class="btn btn-outline-amber px-4" for="perm_listar">
                            <i class="bi bi-people me-2"></i>Listar
                        </label>

                    </div>
                </form>
            </div>            
        </div>
    </div>
</div>

{% endblock %}
