<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autores</title>
</head>
<body>

  <h1>Autores — Biblioteca Virtual</h1>

  <table border="1">
    <!-- table = contêiner da tabela inteira.
         border="1" adiciona bordas visíveis para visualizarmos a estrutura.
         Nas próximas aulas usaremos Bootstrap para estilizar com elegância. -->

    <thead>
      <!-- thead = agrupa a linha de cabeçalho: visualmente separada do corpo -->
      <tr>
        <!-- tr = "table row" = uma linha da tabela (horizontal) -->
        <th>Nome</th>
        <!-- th = "table header" = célula de cabeçalho: negrito e centralizado -->
        <th>Data de publicação</th>
        <th>Livros do Autor</th>
        
      </tr>
    </thead>

    <tbody>
      <!-- tbody = agrupa todas as linhas de dados da tabela -->
      <tr>
        <td>Fernanda</td>
        <!-- td = "table data" = célula de dado comum -->
        <td>2015</td>
        <td>Estudo de caso, Animais virtuais</td>
        
      </tr>
      <tr>
        <td>Luciana</td>
        <td>2023</td>
        <td>Programação para Internet, Mundo digital</td>
        
      </tr>
      <tr>
        <td>Carlos</td>
        <td>1999</td>
        <td>Redes de Computadores, a Internet</td>
        
      </tr>
    </tbody>

  </table>

</body>
</html>